@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container py-4 mb-5">
    <h1 class="text-center mb-4">Manage your account</h1>

    <div>
        <h2>Change your account settings</h2>
        <hr />
        <div class="row py-3">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9 mt-3 mt-md-0">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
