@model Career.Areas.Profile.Pages.CV.Manage.EducationsModel
@{
}

<div class="card card-information">
    <div class="card-header d-flex align-items-center justify-content-between">
        <span class="card-title-information">Educations</span>

        @if (ViewData["Area"]?.ToString() == "Profile")
        {
            @if ((bool)ViewData["isReadonly"]!)
            {
                <a class="btn btn-page-link border rounded-3" asp-page="./Educations">
                    <svg class="bi bi-pencil-square" style="margin: 0 0.125rem 0.125rem 0;" width="16" height="16"><use xlink:href="#pencil-square" /></svg>
                    Edit
                </a>
            }
            else
            {
                <button id="new-education-btn" class="btn border rounded-3">
                    <svg class="bi bi-plus" style="margin: 0 0.125rem 0.125rem 0;" width="16" height="16"><use xlink:href="#add-icon" /></svg>
                    Add Education
                </button>
            }
        }

    </div>
    <div id="educations" class="card-body">
        @foreach (var educationForm in Model.EducationForms)
        {
            <div id="education-form-@(educationForm.Education.EducationId)" class="education-container p-3 mb-3 border rounded-3">
                <partial name="_EducationForm" model=@(educationForm) />

            </div>
        }
    </div>
</div>
