@model Career.Models.FormModels.EducationFormModel
@{

}

<form id="education-form-@(Model.Education.EducationId)" class="education-form" method="post">
    <input type="hidden" asp-for="Education.EducationId"/>
    <input type="hidden" asp-for="Education.UserId"/>
    <div class="row">
        <div class="d-flex col-12 col-lg-3 align-items-center justify-content-center">
            <svg class="bi bi-mortarboard" width="128" height="128"><use xlink:href="#education-icon" /></svg>
        </div>
        
        <div class="col-12 col-lg-9">
            <div class="d-flex">
                <!-- Study Field Form -->
                <div class="form-floating d-flex flex-grow-1">
                    <select class="form-select disabled-input disableOnReadOnly" asp-for="Education.StudyField" asp-items="Model.StudyFieldDataset" disabled>
                        <option value="">--</option>
                    </select>
                    <label for="Education.StudyField">Field</label>
                    <span asp-validation-for="Education.StudyField" class="text-danger"></span>
                </div>

                <!-- Edit Button -->
                <button class="btn p-0 m-0 edit-education-btn" type="button" style="width: 32px; height: 32px; opacity: 0.8;" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square m-0" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
            </div>

            <div class="row">
                <!-- University Form -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <select class="form-select disabled-input disableOnReadOnly" asp-for="Education.UniversityId" asp-items="Model.UniversityDataset" disabled>
                            <option value="">--</option>
                        </select>
                        <label for="Education.UniversityId">University</label>
                        <span asp-validation-for="Education.UniversityId" class="text-danger"></span>
                    </div>
                </div>

                <!-- Education Level Form -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <select class="form-select disabled-input disableOnReadOnly" asp-for="Education.Level" asp-items="Model.EducationLevels" disabled>
                            <option value="">--</option>
                        </select>
                        <label for="Education.Level">Education Level</label>
                        <span asp-validation-for="Education.Level" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Start Date Form -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input asp-for="Education.StartDate" class="form-control disabled-input disableOnReadOnly" aria-required="true" placeholder="Start Date: " disabled />
                        <label asp-for="Education.StartDate" class="form-label">Start Date:</label>
                        <span asp-validation-for="Education.StartDate" class="text-danger"></span>
                    </div>
                </div>

                <!-- End Date Form -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input asp-for="Education.EndDate" class="form-control disabled-input disableOnReadOnly" aria-required="true" placeholder="End Date: " disabled />
                        <label asp-for="Education.EndDate" class="form-label">End Date:</label>
                        <span asp-validation-for="Education.EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Degree Form -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input asp-for="Education.Degree" class="form-control disabled-input disableOnReadOnly" aria-required="true" placeholder="Degree: " disabled/>
                        <label asp-for="Education.Degree" class="form-label">Degree</label>
                        <span asp-validation-for="Education.Degree" class="text-danger"></span>
                    </div>
                </div>

                <!-- Max-Degree Form -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input asp-for="Education.MaxDegree" class="form-control disabled-input disableOnReadOnly" aria-required="true" placeholder="Max Degree: " disabled/>
                        <label asp-for="Education.MaxDegree" class="form-label">Max Degree</label>
                        <span asp-validation-for="Education.MaxDegree" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <textarea class="form-control disabled-input disableOnReadOnly" asp-for="Education.Description" placeholder="Education Details:" rows="5" disabled></textarea>
        </div>
    </div>
    <div class="row justify-content-between my-1 g-2 hideOnReadOnly" hidden>
        <div class="col-12 col-lg-6">
            <button type="button" class="col-12 col-lg-4 btn btn-danger education-deletion-btn">Delete</button>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-end flex-wrap">
            <button type="button" class="col-12 col-lg-4 btn btn-danger education-cancellation-btn me-0 me-lg-2 mb-2 mb-lg-0">Cancel</button>
            <button type="submit" class="col-12 col-lg-4 btn btn-success education-save-btn">Save</button>
        </div>

    </div>
</form>