@{
    ViewData["Title"] = "About";
}

<div class="container py-5">
    <div class="row d-flex flex-wrap align-content-center">
        <div class="col-lg-6">
            <h2 class="display-4">About Us</h2>
            <p class="lead">Welcome to "Career", where we aim to revolutionize the way you approach your career. Our platform provides a seamless connection between talented professionals and top-notch companies seeking their expertise. We believe that finding the perfect job should be an exciting adventure, and we're here to make that happen.</p>
            <p>We are a team of passionate individuals committed to helping job seekers and employers discover their ideal match. Whether you're a fresh graduate or a seasoned professional, "Career" has the tools and resources to propel your career forward.</p>
            <p>Join us today and embark on a journey of endless possibilities. Together, let's shape the future of work!</p>
        </div>
        <div class="col-lg-6 d-flex justify-content-center mt-5">
            <object data="~/logo/logo-lg-black.svg" type="image/svg+xml" class="img-fluid" style="width: 320px; height: 320px; fill: currentColor;"></object>
        </div>
    </div>
</div>
