@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid career-secondary">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center g-0">
            <div id="carousel" class="col-12 col-lg-8 carousel slide" data-bs-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
                </div>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/image-1.jpg" alt="stairs.jpg" class="d-block w-100">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 class="carousel-title">Step by step</h1>
                                <p class="carousel-paragraph d-none d-md-inline">Climb the ladder of success, one step at a time.</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="~/images/image-3.jpg" alt="climbing.jpg" class="d-block w-100">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 class="carousel-title">Navigating right to the spot</h1>
                                <p class="carousel-paragraph d-none d-md-inline">Mountain of opportunities under your commend.</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="~/images/image-2.jpg" alt="top.jpg" class="d-block w-100">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 class="carousel-title">On Top</h1>
                                <p class="carousel-paragraph d-none d-md-inline">At the summit of success, embracing the rewarding view of a fulfilling career.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Left/right controls -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

            <div class="col-12 col-lg-4 d-flex flex-column align-content-center justify-content-center colorful">
                <div class="d-flex justify-content-center mb-0 mb-xxl-5">
                    <object data="~/logo/logo-lg-white.svg" type="image/svg+xml" style="width: 320px; height: 320px; fill: currentColor;"></object>
                </div>
                <div class="text-center p-5 p-lg-0 p-xl-4 mb-0 mb-xl-5">
                    <h2 class="slogan-light text-light">Welcome to move your career to the next step</h2>
                    <a class="btn btn-primary-dark btn-fancy py-2 px-3 mt-3" asp-controller="Jobs" asp-action="Index">Explore Opportunities</a>
                </div>
            </div>
        </div>

    </div>
</div>

